{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1>Are you sure?</h1>
        <form method="post">
            {% csrf_token %}
            <div class="control">
                <button class="button">Delete</button>
            </div>
        </form>
    </div>
</main>
{% endblock content %}
