{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>
            {{ todo_list.name }}
        </h1>
        <h2>
            Tasks
        </h2>
        <p>
            <a href="{% url 'todo_item_create'%}">Create task</a>
            <a href="{% url 'todo_list_update' todo_list.pk %}">Edit list</a>
            <a href="{% url 'todo_list_delete' todo_list.pk %}">Delete list</a>
        </p>
        <table>
            <tr>
                <th>Task</th>
                <th>Due Date</th>
            </tr>
            <tbody>
                {% for item in todo_list.items.all %}
                <tr>
                    <td><a href="{% url 'todo_item_update' item.id %}"> {{ item.task }}</a></td>
                    <td>{{ item.due_date|default_if_none:"N/A"}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
