{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>My Lists </h1>
        <p><a href="{% url 'todo_list_create' %}">Create a new list</a></p>
        <table>
            <tr>
                <th>Name</th>
                <th>Number of Items</th>
            </tr>
            {% for bananas in todo_list_list.all %}
            <tr>
                <td>
                    <a href={% url 'todo_list_detail' bananas.id %}>{{bananas.name}}
                    </a>
                </td>
                <td>{{ bananas.items.all |length }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</main>

</body>

</html>
{% endblock content %}
