{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="control">
                <button class="button">Update</button>
            </div>
        </form>
    </div>
</main>
{% endblock content %}
